<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<title>销售订单列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet"></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/material/easyui.css}"
	rel="stylesheet"></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/icon.css}" rel="stylesheet"></link>

<script th:src="@{/jquery-easyui-1.5.3/jquery.min.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/jquery.easyui.min.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/locale/easyui-lang-zh_CN.js}"
	type="text/javascript"></script>
<script th:src="@{/js/main.js}" type="text/javascript"></script>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true">
		<div data-options="region:'north',split:false,collapsible:false"
			style="height: 80px; min-height: 80px; background: #eee;">
			<div style="line-height: 40px;">
				<div style="float: left; margin-left: 10px;">
					<label>订单号</label> <input name="" class="easyui-textbox"
						style="width: 120px; height: 24px;" />
				</div>
				<div style="float: left; margin-left: 10px;">
					<label>订单类型</label> <input name="" class="easyui-textbox"
						style="width: 100px; height: 24px;" />
				</div>
				<div style="float: left; margin-left: 10px;">
					<label>订单状态</label> <input name="" class="easyui-textbox"
						style="width: 100px; height: 24px;" />
				</div>
				<div style="float: left; margin-left: 10px;">
					<label>制单人</label> <input name="" class="easyui-textbox"
						style="width: 100px; height: 24px;"
						th:value="${currentUser.nickName}" />
				</div>
				<div style="float: left; margin-left: 10px;">
					<label>制单日期</label> <input name="" class="easyui-datebox"
						style="width: 120px; height: 24px;" />
				</div>
				<div style="float: left; margin-left: 10px;">
					<label>客户名称</label> <input name="" class="easyui-textbox"
						style="width: 160px; height: 24px;" />
				</div>
			</div>

			<div style="line-height: 20px;">
				<div style="float: left; margin-left: 10px;">
					<label>要求交期</label> <input name="" class="easyui-datebox"
						style="width: 120px; height: 24px;" /> <label>至</label> <input
						name="" class="easyui-datebox" style="width: 120px; height: 24px;" />
				</div>
				<div style="float: left; margin-left: 10px;">
					<label>预计交期</label> <input name="" class="easyui-datebox"
						style="width: 120px; height: 24px;" /> <label>至</label> <input
						name="" class="easyui-datebox" style="width: 120px; height: 24px;" />
				</div>
				<div style="float: left; margin-left: 10px;">
					<a href="#" class="easyui-linkbutton" style="width: 80px;">查&nbsp;&nbsp;询</a>
				</div>
			</div>
		</div>
		<div data-options="region:'center'">
			<!-- 订单主表 -->
			<table id="salesOrderDatagrid" class="easyui-datagrid"
				toolbar="#salesOrderDatagridToolbar">
				<thead>
					<tr>
						<th field="salesOrderNumber" style="width: 120px">订单号码</th>
						<th field="nickName" style="width: 160px">订单类型</th>
						<th field="salesOrderName" style="width: 260px">客户名称</th>
						<th field="billTo" style="width: 260px">发票地址</th>
						<th field="shipTo" style="width: 260px">收货地址</th>
						<th field="email" style="width: 60px">制单人</th>
						<th field="createdTime" style="width: 140px"
							formatter="dateTimeFormatter">制单时间</th>
						<th field="updateTime" style="width: 140px"
							formatter="dateTimeFormatter">更新时间</th>
					</tr>
				</thead>
			</table>
		</div>
		<div data-options="region:'south',split:true,collapsible:false"
			style="height: 50%; min-height: 220px;">
			<div class="easyui-layout" data-options="fit:true">
				<div data-options="region:'center'" title="订单明细">
					<!-- 订单明细表格 -->
					<table id="customerDatagrid" class="easyui-datagrid"
						toolbar="#orderLinesDatagridToolbar">
						<thead data-options="frozen:true">
							<tr>
								<th field="workOrderNumber" style="width: 30px" align="center">行号</th>
								<th field="model" style="width: 160px" align="center">产品型号</th>
							</tr>
						</thead>
						<thead>
							<tr>
								<th field="qty" style="width: 60px" align="right">数量</th>
								<th field="rtd" style="width: 120px" align="center">要求交期</th>
								<th field="etd" style="width: 120px" align="center">预计交期</th>
								<th field="atd" style="width: 120px" align="center">实际交期</th>
								<th field="po_number" style="width: 80px" align="center">状态</th>
								<th field="createdTime" style="width: 140px" align="center"
									formatter="dateTimeFormatter">创建时间</th>
								<th field="updateTime" style="width: 140px" align="center"
									formatter="dateTimeFormatter">更新时间</th>
							</tr>
						</thead>
					</table>
				</div>
				<div data-options="region:'east',split:true,collapsible:false"
					style="width: 300px; min-width: 300px;">
					<div class="easyui-layout" data-options="fit:true">
						<div data-options="region:'north',split:true,collapsible:false"
							style="height: 50%;" title="缺料单">
							<!-- 缺料单表格 -->
							<table id="customerDatagrid" class="easyui-datagrid"
								toolbar="#so-lackMaterialDatagridToolbar">
								<thead>
									<tr>
										<th field="workOrderNumber" style="width: 120px"
											align="center">缺料单号</th>
										<th field="model" style="width: 160px" align="center">原材料</th>
										<th field="qty" style="width: 60px" align="right">缺少数量</th>
										<th field="po_number" style="width: 120px" align="center">采购单号</th>
										<th field="etd" style="width: 120px" align="center">预估到货日期</th>
										<th field="atd" style="width: 120px" align="center">实际到货日期</th>
										<th field="createdTime" style="width: 140px" align="center"
											formatter="dateTimeFormatter">创建时间</th>
										<th field="updateTime" style="width: 140px" align="center"
											formatter="dateTimeFormatter">更新时间</th>
									</tr>
								</thead>
							</table>
						</div>
						<div data-options="region:'center'" title="工产工单">
							<!-- 工单表格 -->
							<table id="workOrderDatagrid" class="easyui-datagrid"
								toolbar="#so-workOrderDatagridToolbar">
								<thead>
									<tr>
										<th field="workOrderNumber" style="width: 120px"
											align="center">工单号码</th>
										<th field="model" style="width: 160px" align="center">产品型号</th>
										<th field="qty" style="width: 60px" align="right">生产数量</th>
										<th field="workshop" style="width: 160px" align="center">生产车间</th>
										<th field="etd" style="width: 120px" align="center">预估完工日期</th>
										<th field="atd" style="width: 120px" align="center">实际完工日期</th>
										<th field="createdTime" style="width: 140px" align="center"
											formatter="dateTimeFormatter">创建时间</th>
										<th field="updateTime" style="width: 140px" align="center"
											formatter="dateTimeFormatter">更新时间</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 销售订单主表格工具栏 -->
	<div id="salesOrderDatagridToolbar" class="datagrid-toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-edit" plain="true" onclick="">修改</a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-edit" plain="true" onclick="">回复日期</a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-remove" plain="true" onclick="">删除</a>
	</div>

	<!-- 销售订单行表格工具栏 -->
	<div id="orderLinesDatagridToolbar" class="datagrid-toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-edit" plain="true" onclick="">修改</a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-edit" plain="true" onclick="">回复交期</a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-remove" plain="true" onclick="">删除</a> <a
			href="javascript:void(0)" class="easyui-linkbutton" plain="true"
			onclick="">修改日志</a> <input id="workOrderSearch" prompt="请输入产品型号"
			class="easyui-searchbox" />
	</div>

	<!-- 缺料单工具栏 -->
	<div id="so-lackMaterialDatagridToolbar" class="datagrid-toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-add" plain="true" onclick="">新增</a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-edit" plain="true" onclick="">修改</a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-remove" plain="true" onclick="">删除</a> <a
			href="javascript:void(0)" class="easyui-linkbutton" plain="true"
			onclick="">修改日志</a>
	</div>

	<!-- 生产工单工具栏 -->
	<div id="so-workOrderDatagridToolbar" class="datagrid-toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-add" plain="true" onclick="">新增</a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-edit" plain="true" onclick="">修改</a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-remove" plain="true" onclick="">删除</a> <a
			href="javascript:void(0)" class="easyui-linkbutton" plain="true"
			onclick="">修改日志</a>
	</div>

</body>
</html>
