<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<title>新建销售订单</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet"></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/material/easyui.css}"
	rel="stylesheet"></link>
<link th:href="@{/jquery-easyui-1.5.3/themes/icon.css}" rel="stylesheet"></link>

<script th:src="@{/jquery-easyui-1.5.3/jquery.min.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/jquery.easyui.min.js}"
	type="text/javascript"></script>
<script th:src="@{/jquery-easyui-1.5.3/locale/easyui-lang-zh_CN.js}"
	type="text/javascript"></script>
<script th:src="@{/js/main.js}" type="text/javascript"></script>
</head>
<body>TODO
</body>
</html>
